@{
    ViewBag.Title = "Zarządzanie kontami";
    Layout = "_Layout";
}

<html lang="pl">
<head>
    <title>@ViewBag.Title</title>
</head>

<body>
<form method="get" asp-controller="Account" asp-action="Register">
    <button type="submit">Dodaj użytkownika</button>
</form>
</body>
