@{
    ViewData["Title"] = "Moje konto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<body>
<form asp-controller="Home" asp-action="test1" method="post">
    <!-- <ul class="nav navbar-nav navbar-right">

        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
        <li></li>
    </ul> -->
    <button type="submit" class="btn btn-info btn-sm">Aktualizuj</button>


</form>
</body>