@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<title>FSC Site </title> -->
    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> <!--CHANGED-->
    <!-- Font Awesome -->
    <link href="~/css/font-awesome.css" rel="stylesheet"> <!-- TO DELETE -->
    <!-- NProgress -->
    <link href="~/css/nprogress.css" rel="stylesheet"> <!--CHANGED-->
    <!-- bootstrap-daterangepicker -->
    <link href="~/css/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/css/custom.min.css" rel="stylesheet"> <!--CHANGED-->
</head>
<body class="nav-md">

    <div class="container body">

        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.cshtml" class="site_title"> <span>FSC Report Site</span></a>
                    </div>
                    <div align="center"><partial name="_LoginPartial" /></div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">

                        <div class="profile_info">
                            <!--  <span>Zalogowany jako:</span> -->
                            <!-- <h2>John Doe</h2> <!-- TODO: Dodac imie i nazwisko uzytkownika-->

                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>FSC MIX CREDIT</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-desktop"></i> Konto punktowe FSC <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Report" asp-action="SolidBoardReportFSC">Tektura Lita</a></li>
                                        <li><a asp-controller="Report" asp-action="CorrugatedBoardReportFsc">Tektura Falista</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-edit"></i> Pozostałe raporty<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Report" asp-action="CustomerOrdersReport">Sprzedaż dla klienta</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="menu_section">
                            <h3>FSC CONTROL WOOD</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Konto punktowe CW <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Report" asp-action="SolidBoardReportCW">Tektura Lita</a></li>
                                        <li><a asp-controller="Report" asp-action="CorrugatedBoardReportCW">Tektura Falista</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="menu_section">
                            <h3>USTAWIENIA RAPORTÓW</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i>Parametry<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Parameter" asp-action="PerformanceParameterForm">Współczynnik wydajności</a></li>
                                        <li><a asp-controller="Parameter" asp-action="CertificateParametersForm">Parametry certyfikatów</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="menu_section">
                            <h3>USTAWIENIA</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i>Konta<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Home" asp-action="MyAccount">Moje konto</a></li>
                                        <li><a asp-controller="Home" asp-action="ManageAccounts">Zarządzaj kontami</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>

                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                </div>
            </div>
            <!-- /top navigation -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- footer content -->
            <footer>
                <p>&copy; 2020 - FSCReportSite | Michał Zuchowski</p>
            </footer>
            <!-- /footer content -->
        </div>
        @RenderSection("Scripts", required: false)
    </div>
<!-- jQuery -->
<script src="~/lib/jquery/dist/jquery.min.js"></script> <!--CHANGED-->
<!-- Bootstrap -->
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> <!--CHANGED-->
<!-- FastClick -->
<script src="~/js/fastclick.js"></script>
<!-- NProgress -->
<script src="~/js/nprogress.js"></script>
<!-- Chart.js -->
<script src="~/js/Chart.min.js"></script>
<!-- jQuery Sparklines -->
<script src="~/lib/jquery/dist/jquery.sparkline.min.js"></script>
<!-- Flot -->
<script src="~/lib/jquery/dist/jquery.flot.js"></script>
<script src="~/lib/jquery/dist/jquery.flot.pie.js"></script>
<script src="~/lib/jquery/dist/jquery.flot.time.js"></script>
<script src="~/lib/jquery/dist/jquery.flot.stack.js"></script>
<script src="~/lib/jquery/dist/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="~/lib/jquery/dist/jquery.flot.orderBars.js"></script>
<script src="~/lib/jquery/dist/jquery.flot.spline.min.js"></script>
<script src="~/js/curvedLines.js"></script>
<!-- DateJS -->
<script src="~/js/date.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="~/js/moment.min.js"></script>
<script src="~/js/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="~/js/custom.min.js"></script>

<!-- PopperJs Scripts -->
<script src="~/lib/bootstrap/dist/js/Popper.js"></script>
</body>
</html>
