
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User) ) //&& User.IsInRole("Admin")
{
    <body>
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
    
        <ul class="nav navbar-nav navbar-right" style="color:white">
            <li>
                 <p>Zalogowano jako: <b>@UserManager.GetUserName(User)</b></p>
            </li>
        </ul>

        <button type="submit" class="btn btn-info btn-sm">Wyloguj</button>
    </form>
   </body>
}
else
{
    <body>
    <form asp-controller="Account" asp-action="Login" method="post">
        <ul class="nav navbar-nav navbar-right">


            <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
            <li></li>
        </ul>
    </form>

        <form asp-controller="Account" asp-action="Login" method="get">
            <button type="submit" class="btn btn-info btn-sm">Zaloguj</button>



        </form>

        <form asp-controller="Account" asp-action="Logout" method="post">
            <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        </form>
    </body>
}