
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager


@if (signInManager.IsSignedIn(User) ) //&& User.IsInRole("Admin")
{
    <body>
    <form asp-controller="Account" asp-action="Logout" method="post">
    
        <ul class="nav navbar-nav navbar-right" style="color:white">
            <li>
                <br>
                <p>Zalogowano jako: <b>@userManager.GetUserName(User)</b></p>
                <br>
            </li>
        </ul>

        <button type="submit" class="btn btn-primary">Wyloguj</button>
    </form>
   </body>
}
else
{
    <body>
        <form asp-controller="Account" asp-action="Login" method="get">
            <button type="submit" class="btn btn-primary">Zaloguj</button>
        </form>
    </body>
}