@model FSCReportSite.Models.CertificateParameters

@{
    ViewData["Title"] = "AddCertificateParameters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dodawanie certyfikatu</h1>
<br>
<h2>@ViewData["Message"]</h2>


<div class="row">
    <div class="col-md-4">
        <form asp-controller="Parameter" asp-action="AddCertificateParameter" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CertificateName" class="control-label"></label>
                <input asp-for="CertificateName" class="form-control" />
                <span asp-validation-for="CertificateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParameterFsc" class="control-label"></label>
                <input asp-for="ParameterFsc" class="form-control" placeholder="0,00" />
                <span asp-validation-for="ParameterFsc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParameterCw" class="control-label"></label>
                <input asp-for="ParameterCw" class="form-control" placeholder="0,00" />
                <span asp-validation-for="ParameterCw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Dodaj</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="CertificateParametersForm">Powrót do listy certyfikatów</a>
</div>

