
@model LoginViewModel;

@{
    ViewData["Title"] = "Logowanie";
    Layout = "_Layout";
}

<html lang="pl">
<head>
    <title>@ViewData["Title"]</title>
</head>

<body>
<div style="text-align: center">
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

            <section class="login_content" style="text-align: center; margin: auto; display: inline-block">
                <form asp-action="Login" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <h1>Zaloguj się</h1>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div calss="form-group">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe"/>
                                @Html.DisplayNameFor(m=>m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div>
                        <button  type="submit" class="btn btn-primary">Zaloguj</button>
                    </div>
                    <div>
                        <br />
                        <p>Zapomniałeś hasła? Skontaktuj się z administratorem.</p>
                    </div>
                    <div class="separator">
                        <p>FSC Site | Michał Zuchowski ©2020</p>
                    </div>
                </form>
            </section>
 </div>

</body>
</html>
