@using Microsoft.AspNetCore.Identity
@model ResetPasswordViewModel

@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Resetowanie hasła";
    var userEmail = ViewBag.UserEmail;
}
<body>
    <h1>@ViewData["Title"]</h1>
    <br>
    <h2>@ViewData["Message"]</h2>
    <hr />
    <h3>Resetowanie hasła dla konta: @userEmail</h3>
    <br>
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Email" class="form-control" type="hidden" value="@userEmail" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Nowe hasło</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword">Powtórz nowe hasło</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </form>
        </div>
    </div>
</body>

