@model AddRoleViewModel

@{
    ViewData["Title"] = "Dodawanie nowej roli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>@ViewData["Title"]</title>
</head>

<body>
    <h1>Dodawanie nowej roli</h1>
    <br>
    <h2>@ViewData["Message"]</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RoleName">Nazwa roli</label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Utwórz rolę</button>
                <a asp-action="ManageRoles" class="btn btn-primary" style="width:auto">Powrót do listy ról</a>
            </form>
        </div>
    </div>
</body>


