@model AddRoleViewModel

@{
    ViewData["Title"] = "Tworzenie nowej roli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>@ViewBag.Title</title>
</head>

<body>
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName">Nazwa roli</label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Utwórz rolę</button>
        </form>
    </div>
</div>
</body>


