@model List<AspNetRoles>

@{
    ViewData["Title"] = "Usuwanie roli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>@ViewData["Title"]</title>
</head>

<body>
    <h1>Usuwanie roli</h1>
    <br>
    <h2>@ViewData["Message"]</h2>
    <hr />
    <h3>Czy na pewno chesz usunąć tę rolę?</h3>
    <br/>
    <div>
        <h3>Informacje o roli: </h3>
        @foreach (var role in Model)
        {
            <p><b>ID: </b>@role.Id</p>
            <p><b>Nazwa: </b>@role.Name</p>
            <br />
            <form asp-controller="Administration" asp-action="DeleteRole" method="post">
                <input type="hidden" value=@role.Id />
                <br />
                <input type="submit" value="Usuń" class="btn btn-primary" />
                <a asp-action="ManageRoles" class="btn btn-primary" style="width:auto">Anuluj</a>
            </form>
        }
    </div>
</body>

